.header {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	flex: 1;

	&__title {
		font-weight: 600;
		color: $color-primary;
		padding: 0;
		margin: 0;
		width: 240px;
	}

	&__actions {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		margin-left: auto;

		& > * {
			margin-left: $spacing-scale-6;
		}
	}

	&__user-btn {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		text-align: left;
		background-color: transparent;
		margin-left: $spacing-scale-12;
		padding: $spacing-scale-2;
		max-width: 220px;
		border: 0;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color .3s;
		outline: 0;
		transition: box-shadow .3s;

		&:hover {
			box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.12);
		}

		&-avatar {
			margin-right: $spacing-scale-8;
			flex: none;
		}

		&-info {
			display: flex;
			flex-flow: column nowrap;
			overflow: hidden;
		}

		&-name {
			@include truncation;
			font-weight: 600;
		}

		&-email {
			@include truncation;
			margin-top: $spacing-scale-3;
			color: $grey-8;
		}

		&-arrow {
			margin: 0 $spacing-scale-2;
		}
	}
}
